body,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
    color: white;
}

.body-sidebar {
    z-index:3;width:400px;
}

.w3-main{
    margin-left: 250px;
}

.skills{
    width: 95%;
}

.grid-f{
    --bs-rows: 3; --bs-columns: 3;
}
.gridp{
    border-radius: 5px;
    border-style: solid;
    width: 35vw;
    height: 15vh;
    background-color: lightgray;
    align-items: center;
}

.gridp p{
    font-size: 1vw;
    line-height: 1;
    text-align: center;
}

.grid-item{
    flex: 1 0 23.33%;
    position: relative;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    background-color: lightgray;
    border: 3px solid white;
    border-radius: 10px;
    border-style: solid;
}

.grid-item::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #000 transparent;
  }

  .grid-item p {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #000;
  }

.formacao{
    display: flex;
    flex-wrap: wrap;
    
}

.painel{
    color: inherit;
    text-decoration: none;
}

.text1{
    color:blueviolet;
}

.text2{
    color: fuchsia;
}

.text3{
    color: coral;
}
/* .txp{
    font-size: smaller;
} */